body {
  font-family: 'Open Sans', sans-serif;
  overflow-x: hidden; }

.btn-outline {
  font-size: 1.3em;
  color: #fff;
  font-weight: bolder;
  padding: 1em 2em;
  border: 2px solid #fff;
  transition: background-color; }
  .btn-outline:hover {
    color: #fff;
    background-color: black; }

#landing {
  position: relative;
  width: 100vw;
  height: 100vh; }
  #landing .image1 {
    background-image: url("../images/slider1.jpg");
    background-repeat: no-repeat;
    height: 50em;
    background-size: cover; }
  #landing .image2 {
    background-image: url("../images/slider2.jpg");
    background-repeat: no-repeat;
    height: 50em;
    background-size: cover; }
  #landing .image3 {
    background-image: url("../images/slider5.jpg");
    background-repeat: no-repeat;
    height: 50em;
    background-size: cover; }
  #landing .font {
    position: absolute;
    color: #fff;
    left: 0;
    right: 0;
    top: 8em; }
    #landing .font h2 {
      font-size: 4em;
      font-family: "Pacifico", cursive; }
    #landing .font h1 {
      font-size: 6em;
      font-family: "Pacifico", cursive;
      text-transform: uppercase; }
    #landing .font h3 {
      font-size: 2em; }

#specials .image1 {
  background-image: url("../images/slider1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 250px;
  padding: 1em; }
  #specials .image1:hover {
    background-image: url("../images/slider4.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 250px;
    padding: 1em; }
#specials .image2 {
  background-image: url("../images/slider2.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 250px;
  padding: 1em; }
  #specials .image2:hover {
    background-image: url("../images/slider3.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 250px;
    padding: 1em; }
#specials .image3 {
  background-image: url("../images/slider4.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 250px;
  padding: 1em; }
  #specials .image3:hover {
    background-image: url("../images/slider1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 250px;
    padding: 1em; }
#specials .desc h2 {
  color: #F26522;
  font-family: 'Pacifico', cursive;
  font-size: 3.5em; }
#specials .desc i {
  padding-top: 1em;
  color: #9db7c5; }
#specials .desc p {
  padding-top: 1em; }

#foodtypes {
  background-image: url("../images/our-products-bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  width: 100vw;
  margin-top: 2em; }
  #foodtypes h2 {
    font-size: 3em;
    font-family: "Pacifico", cursive;
    color: #fff;
    margin-top: 1.5em; }
  #foodtypes i {
    color: #fff;
    margin-top: 1em; }
  #foodtypes p {
    color: #fff;
    padding: 1em; }
  #foodtypes .image {
    border: 4px solid white;
    padding: 1em;
    margin-bottom: 4em; }
    #foodtypes .image img {
      transition: transform 2s; }
      #foodtypes .image img:hover {
        transform: rotateY(180deg); }
    #foodtypes .image h3 {
      color: #fff; }

#order {
  background-image: url("../images/slider1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  width: 100vw;
  margin-top: 4em;
  box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.7); }
  #order .food {
    padding-top: 2em; }
  #order .chef {
    padding-top: 2.5em;
    padding-left: 8em;
    color: #fff; }
    #order .chef h3 {
      margin-top: 10px;
      /*if u write any style and if it's not working use
      margin-top: 10px !imaporent; */
      font-size: 3.5em; }
    #order .chef p {
      font-size: 1.8em; }
      #order .chef p i {
        padding-right: 10px; }
  #order .try-it {
    margin-top: 2em; }
  #order .any i {
    padding-right: 0.8em; }

#menu .desc h2 {
  margin-top: 2em;
  font-size: 3em;
  color: #F26522;
  font-family: "Pacifico", cursive; }
#menu .desc i {
  padding-top: 1em;
  color: #9db7c5; }
#menu .desc p {
  padding: 2em 0em 2em; }
#menu .drinks {
  margin-top: 2em; }
  #menu .drinks a {
    text-align: center;
    font-weight: bold; }
  #menu .drinks img {
    background-color: #fff;
    height: 300px;
    width: 360px; }

#extras {
  padding-top: 4em;
  background-image: url("../images/extras-bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  width: 100vw;
  box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.7); }
  #extras h2 {
    font-weight: bold;
    font-size: 2.5em;
    color: #fff;
    font-family: "Raleway", sans-serif; }
  #extras img {
    padding-left: 26em;
    margin-bottom: 2em; }
  #extras .extra-type {
    margin-bottom: 2em;
    color: #fff; }
    #extras .extra-type i {
      font-size: 6em; }
      #extras .extra-type i:hover {
        color: #F26522; }
    #extras .extra-type p {
      margin: 1em 0em;
      font-weight: bold;
      font-size: 1.8em; }
      #extras .extra-type p:hover {
        color: #F26522; }

#booking h2 {
  margin-top: 1.8em;
  font-size: 3em;
  color: #F26522;
  font-family: "Pacifico", cursive; }
#booking i {
  padding-top: 1em;
  color: #9db7c5; }
#booking p {
  padding: 1.5em; }
#booking .book {
  margin-bottom: 12em; }
  #booking .book .text-input {
    height: 50px;
    color: gray;
    border: 1px solid gray;
    margin-bottom: 2em;
    width: 45vh;
    border-radius: 2px;
    padding-left: 15px; }
    #booking .book .text-input:hover {
      color: #F26522; }
  #booking .book .book-list {
    height: 50px;
    color: gray;
    border: 1px solid gray;
    margin-bottom: 2em;
    width: 45vh;
    border-radius: 2px; }
    #booking .book .book-list:hover {
      color: #F26522; }
  #booking .book .text-msg {
    height: 12em;
    color: gray;
    border: 1px solid gray;
    margin-bottom: 2em;
    width: 143vh;
    border-radius: 2px;
    padding-left: 15px; }
    #booking .book .text-msg:hover {
      color: #F26522; }
  #booking .book .btn-solid {
    font-size: 1.3em;
    color: #fff;
    font-weight: bolder;
    padding: 0.8em 3em;
    background-color: #F26522;
    border: 2px solid #fff;
    transition: background-color;
    margin-left: 25em; }
    #booking .book .btn-solid:hover {
      color: #fff;
      background-color: gray; }

#review {
  margin-top: 6em;
  background-image: url("../images/comment-bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  width: 100vw; }
  #review .reviewing {
    margin-top: 7em;
    height: 28em;
    background-color: rgba(242, 101, 34, 0.8); }
    #review .reviewing img {
      position: relative;
      top: 4em;
      left: 4em; }
    #review .reviewing h2 {
      font-family: "Pacifico", cursive;
      font-weight: bold;
      top: 2em;
      left: 2em;
      position: relative;
      color: #fff; }
    #review .reviewing p {
      position: relative;
      color: #fff;
      top: 4em;
      left: 3em;
      font-weight: 400;
      font-size: 1.3em;
      margin-right: 4em; }
    #review .reviewing h3 {
      position: relative;
      color: #fff;
      top: 4em;
      left: 2em;
      font-weight: bold;
      margin-bottom: 1em; }
    #review .reviewing span {
      position: relative;
      color: #fff;
      top: 5em;
      left: 3.5em; }
  #review .chef {
    margin-top: -2em;
    padding-left: 7.5em; }

#details {
  margin-top: 4em;
  margin-bottom: 2em; }
  #details .detail {
    height: 20vh; }
    #details .detail h2 {
      font-family: 'Pacifico', cursive;
      font-size: 3em;
      color: #4A79A3;
      font-weight: 500; }
    #details .detail p {
      margin-top: 1.5em;
      font-size: 1.3em;
      font-family: "Raleway", sans-serif;
      color: #38515e; }
      #details .detail p i {
        margin-right: 1em; }
    #details .detail i {
      margin-right: 2.5em;
      font-size: 1.1em; }
    #details .detail .eventinfo {
      margin-top: 1.5em;
      font-size: 1.3em;
      font-family: "Raleway", sans-serif;
      color: #38515e; }
    #details .detail .contact {
      margin-bottom: 1.5em; }

/*# sourceMappingURL=style.css.map */
