body{
	font-family: 'Open Sans', sans-serif;
}
.btn-outline{
      	font-size: 1.3em;
          color: $primary-color;
          font-weight: bolder;
          padding: 1em 2em;
          border: 2px solid $primary-color;
      }